<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add/Edit Address</title>
</head>
<body>
<h1>Add/Edit Address</h1>
<form th:action="@{${#request.requestURI}}" th:object="${address}" method="post">
    <p>
        Address: <input type="text" th:field="*{address}" />
    </p>
    <p>
        Address 2: <input type="text" th:field="*{address2}" />
    </p>
    <p>
        District: <input type="text" th:field="*{district}" />
    </p>
    <p>
        City:
        <select th:field="*{city}">
            <option th:each="city : ${cities}" th:value="${city}" th:text="${city.city_id}"></option>
        </select>
    </p>
    <p>
        Postal Code: <input type="text" th:field="*{postalCode}" />
    </p>
    <p>
        Phone: <input type="text" th:field="*{phone}" />
    </p>
    <button type="submit">Save</button>
</form>
<a href="/addresses">Cancel</a>
</body>
</html>
